<body style="background-color: white;">
    {% autoescape off %}

    <div class="heademail">ยินดีต้อนรับสู่ CMSK</div>

    <div class="bodyemail">  
        กรุณายืนยันเลข otp ของท่านเพื่อเริ่มต้นใช้งานบัญชี
        {{ otp }}
    </div>

    {% endautoescape  %}
</body>

<style>
    .heademail {
        background-color: #03A580;
        color: #ffffff;
        padding: 10px;
        border-radius: 7px;
        margin-bottom: 10px;
    }
    .bodyemail {
        background-color: #03A580;
        color: #ffffff;
        padding: 10px;
        border-radius: 7px;
    }
</style>
