:root {
  /* color */
  --shade1: #424242;
  --shade2: #3A4A4D;
  

  --white: #ffffff;
  --grey: #ddd;
}

body { font-family: 'Poppins', sans-serif; }

/* NAVBAR */
nav {
  min-width: 28rem;
  /* background: white; */
  background-color: transparent;

  color: #0e0e0e;
  border-radius: 100vw;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
}

nav ul {
  padding: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  isolation: isolate;

  position: fixed;
  top: 0;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 0.1rem;
  font-weight: 700;
}

.selectedLink {
  position: absolute;
  width: 1.5rem;
  aspect-ratio: 1/1;
  /* background: royalblue; */
  background-color: transparent;

  border-radius: 50%;
  z-index: -1;
  top: 0;
  left: 12px;
  transition: transform 0.5s ease;
}

.selectedLink .side {
  /* background: royalblue; */
  background-color: transparent;

  width: 1.5rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  border-radius: 0 0 0 100%;
}

.side.left {
  left: -50%;
}

.side.right {
  right: -50%;
  transform: rotateY(180deg);
}

.selectedLink .outside {
  /* background: royalblue; */
  background-color: transparent;

  width: 1.5rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  z-index: 9999;
  clip-path: polygon(79% 25%, 30% 0, 100% 0, 100% 100%);
}

.outside.left {
  left: -140%;
}

.outside.right {
  right: -140%;
  transform: rotateY(180deg);
}

.selectedLink .outside::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -9999;
  /* background: white; */
  background-color: transparent;


  border-radius: 0 100% 0 0 / 0 50% 0 0;
}

.selectedLink .dot {
  position: absolute;
  width: 0.5rem;
  aspect-ratio: 1/1;
  /* background: white; */
  background-color: var(--white);

  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* ///////////////////// */
.scrollsec {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
  perspective: 1px;
}
.scrolldiv {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.column h1 {
  font-size: 4vw;
  font-weight: 700;
}
.ulex li, .ctext {
  font-weight: 400;
  font-size: 2vw;
  margin: 10px;
}

.container {
  display: flex;
}

.column {
  flex: 1; /* Equal width for both columns */
  width: 100%;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column; /* Change to a single column layout */
  }

  .column {
    flex: none; /* Disable flex to make each column take full width */
    margin-top: 10px;
  }
}