{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<section>
  <div class="container mt-4">
    <h1 class="mb-4">Booking Page</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url 'booking' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="20" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" maxlength="200" required>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
        <img id="preview" src="#" alt="Image Preview" style="display:none; max-width:100%; max-height:200px;">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</section>

<script>
    const quantityInput = document.getElementById('quantity');
    quantityInput.addEventListener('input', () => {
      if (quantityInput.value > 20) {
        quantityInput.value = 20;
      }
    });

    const imageInput = document.getElementById('image');
    const previewImage = document.getElementById('preview');

    imageInput.addEventListener('change', (e) => {
        const file = e.target.files[0];
        const reader = new FileReader();

        reader.onload = (event) => {
        previewImage.src = event.target.result;
        previewImage.style.display = 'block';
        };

        reader.readAsDataURL(file);
    });

</script>
{% endblock %}