{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<section>
    <form id="checkoutForm1" method="POST" action="{% url 'creditpay' %}">
        {% csrf_token %}
        <input type="hidden" name="omiseToken1">
        <input type="hidden" name="omiseSource1">

        <input type="hidden" name="price1" value="{{ price }}">

        <button type="submit" id="checkoutButton1">creditcard</button>
    </form>
    
    <script type="text/javascript" src="https://cdn.omise.co/omise.js">
    </script>
    
    <script>
    OmiseCard.configure({
        publicKey: "{{ omise_pkey }}"
    });
    
    var button1 = document.querySelector("#checkoutButton1");
    var form1 = document.querySelector("#checkoutForm1");
    
    button1.addEventListener("click", (event) => {
        event.preventDefault();
        OmiseCard.open({
        amount: Number('{{ price }}'),
        currency: "THB",
        defaultPaymentMethod: "credit_card",
        onCreateTokenSuccess: (nonce) => {
            if (nonce.startsWith("tokn_")) {
                form1.omiseToken.value = nonce;
            } else {
                form1.omiseSource.value = nonce;
            };
            form1.submit();
        }
        });
    });
    </script>

    <!-- ///// -->
    <form id="checkoutForm2" method="POST" action="{% url 'creditpay' %}">
        {% csrf_token %}
        <input type="hidden" name="omiseToken2">
        <input type="hidden" name="omiseSource2">

        <input type="hidden" name="price2" value="{{ price }}">

        <button type="submit" id="checkoutButton2">googlepay</button>
    </form>
    
    <script>    
    var button2 = document.querySelector("#checkoutButton2");
    var form2 = document.querySelector("#checkoutForm2");
    
    button2.addEventListener("click", (event) => {
        event.preventDefault();
        OmiseCard.open({
        amount: Number('{{ price }}'),
        currency: "THB",
        defaultPaymentMethod: "googlepay",
        onCreateTokenSuccess: (nonce) => {
            if (nonce.startsWith("tokn_")) {
                form2.omiseToken.value = nonce;
            } else {
                form2.omiseSource.value = nonce;
            };
            form2.submit();
        }
        });
    });
    </script>

    <!-- ///// -->
    <form id="checkoutForm3" method="POST" action="{% url 'creditpay' %}">
        {% csrf_token %}
        <input type="hidden" name="omiseToken3">
        <input type="hidden" name="omiseSource3">

        <input type="hidden" name="price3" value="{{ price }}">

        <button type="submit" id="checkoutButton3">alipay</button>
    </form>
    
    <script>    
    var button3 = document.querySelector("#checkoutButton3");
    var form3 = document.querySelector("#checkoutForm3");
    
    button3.addEventListener("click", (event) => {
        event.preventDefault();
        OmiseCard.open({
        amount: Number('{{ price }}'),
        currency: "THB",
        defaultPaymentMethod: "alipay",
        onCreateTokenSuccess: (nonce) => {
            if (nonce.startsWith("tokn_")) {
                form3.omiseToken.value = nonce;
            } else {
                form3.omiseSource.value = nonce;
            };
            form3.submit();
        }
        });
    });
    </script>

    <!-- ///// -->
    <form id="checkoutForm4" method="POST" action="{% url 'creditpay' %}">
        {% csrf_token %}
        <input type="hidden" name="omiseToken4">
        <input type="hidden" name="omiseSource4">

        <input type="hidden" name="price4" value="{{ price }}">

        <button type="submit" id="checkoutButton4">internetbanking</button>
    </form>
    
    <script>    
    var button4 = document.querySelector("#checkoutButton4");
    var form4 = document.querySelector("#checkoutForm4");
    
    button4.addEventListener("click", (event) => {
        event.preventDefault();
        OmiseCard.open({
        amount: Number('{{ price }}'),
        currency: "THB",
        defaultPaymentMethod: "internet_banking_bbl",
        onCreateTokenSuccess: (nonce) => {
            if (nonce.startsWith("tokn_")) {
                form4.omiseToken.value = nonce;
            } else {
                form4.omiseSource.value = nonce;
            };
            form4.submit();
        }
        });
    });
    </script>
</section>
{% endblock %}